.fa-evernote {
    color: #21a232;
}

.fa-envelope {
    color: #7d21a2;
}

.fa-github {
    color: #21a297;
}

.fa-user {
    color: #ff7242;
}

.fa-archive {
    color: #ff4297;
}

.fa-chart-line {
    color: #f942ff;
}

.fa-history {
    color: #1e7398;
}

.fa-spin {
    color: #d4237a;
}